<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>359748080763-skhd2a70pje59k6h29qhm7mabos8sidt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.359748080763-skhd2a70pje59k6h29qhm7mabos8sidt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>359748080763-eb7gipm9l7195anh18d8hhokn2vhsa1m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzr5yweozr9Apx15ve130_A8A3unnOIpU</string>
	<key>GCM_SENDER_ID</key>
	<string>359748080763</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moatmat.uploader</string>
	<key>PROJECT_ID</key>
	<string>moatmat-project</string>
	<key>STORAGE_BUCKET</key>
	<string>moatmat-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:359748080763:ios:33a1bf306ef24c1a6dbede</string>
</dict>
</plist>